.card {
    margin-top: 20px;
  }
  
  .list-group-item {
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  h5 {
    color: #007bff;
  }
  .pago-realizado {
    color: green;
  }
  
  .pendiente-pago {
    color: red;
  }