<div class="container mt-3">
	<h2>Lista de Matrículas</h2>
	<div *ngFor="let matricula of matriculas" class="card mb-3">
	  <div class="card-body">
		<h5 class="card-title">{{ matricula.alumno.nombres }} {{ matricula.alumno.apellidos }}</h5>
		<p class="card-text">
		  Curso: {{ matricula.curso.nombre }}<br>
		  Créditos: {{ matricula.creditos }}<br>
		  Precio por Crédito: {{ matricula.precioPorCredito }}<br>
		  Monto a Pagar: {{ matricula.montoAPagar }}<br>
		 
		</p>
		Estado: <p class="estado-pago" [ngClass]="{'pago-realizado': matricula.estado, 'pendiente-pago': !matricula.estado}">
			{{matricula.estado ? 'Pago realizado' : 'Pendiente de pago'}}</p>
		<button *ngIf="!matricula.estado" class="btn btn-success" (click)="realizarPago(matricula)">Realizar Pago</button>
	  </div>
	</div>
  </div>
  

